*{
    margin: 0;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(./hero.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.banner{
    background-color: #fff;
    padding: 4rem 0;
    text-align: center;
    width: 70vw;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}
h1{
    letter-spacing: 0.25rem;
    text-transform: capitalize;
    margin-bottom: 0.75rem;
    font-family: "Roboto", sans-serif;
    font-size: 4rem;
}
.banner button{
    margin-top: 2rem;
    border: 0;
    background-color: #47a6e9;
    color: #fff;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    letter-spacing: 0.25rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 2px solid #47a6e9 ;
    text-transform: capitalize;
}
.banner button:hover{
    background-color: #fff;
    color: #47a6e9;
}
.modal-overlay{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -10;
}
.modal-container{
    text-align: center;
    width: 70vw;
    height: 200px;
    background-color: #fff;
    border-radius: 8px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-container h3{
    font-size: 1.75rem;
    letter-spacing: 0.25rem;
    text-transform: capitalize;
    margin-bottom: 0.75rem;
}
.modal-container button{
    position: absolute;
    top: 10px;
    right: 10px;
    border: 0;
    background-color: #fff;
    font-weight: 800;
    font-size: 20px;
    cursor: pointer;
}
.modal-container button:hover{
    color: red;
    font-size: 32px;
}
body .open-modal{
    z-index: 10;
}